name: Check
on:
  push:
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v1

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "pnpm"

      - name: Setup Rust
        run: |
          rustup component add clippy
          rustup component add rustfmt

      - name: Install cargo-binstall
        uses: cargo-bins/cargo-binstall@main

      - name: Install wasm-pack
        run: cargo binstall wasm-pack

      - name: Install dependencies
        run: pnpm install

      - name: Check
        run: pnpm run lint

      - name: Check Rust
        working-directory: webp
        run: |
          cargo clippy --all-targets --all-features -- -D warnings
          cargo fmt --all -- --check
